@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



body{
    overflow: hidden;
    margin: 0;
}


h2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 0.01em;
    color: #F2F2F2;
}

h3{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.01em;
    color: #7C7E83;
}

.subheader-2{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.01em;
    color: #7C7E83;
}

body{
    margin: 0;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.no-margin{
    margin: 0;
}

.cursor-pointer{
    cursor: pointer;
}

.login-screen{
    background-color: #202124;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form{
    height: 20vh;
    width: 20vw;
    background-color: #202124;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-input-field {
    width: 100%;
    min-width: 240px;
    height: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: #3e3f41;
    background-color: transparent;
    border-radius: 16px;
    padding-left: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.01em;
    color:#F2F2F2;
    outline:none;
}

.login-button {
    width: 100%;
    min-width: 240px;
    height: 40px;
    box-sizing: border-box;
    background-color: #2863E4;
    border-radius: 16px;
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.01em;
    color:#F2F2F2;
    outline:none;
    border: none;
    cursor: pointer;
    
}

.main-container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.contact-wrapper{
    width: 39%;
    background-color: #3E3F41;
}

.contact-wrapper-menu{
    width:100%;
    height: 80px;
    background-color: #3E3F41;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}

.your-profile-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add-contact-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ph-plus-bold{
    font-size: 1.25rem;
    color: #7C7E83;
    margin-left: 8px;
}

.contact-block-scroll{
    overflow-y: scroll;
}

.online-users-block{
    background-color: #3E3F41;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-contact-wrapper-menu{
    width:100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}

.ph-caret-left-bold{
    font-size: 1.25rem;
    color: #F2F2F2;
}

.online-users-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contacts-window-container{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 16px;
    row-gap: 8px;
}

.contact-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #2863E4;
    border-radius: 16px;
}

/*.contact-field:hover{
    background-color: #7C7E83;
}*/

.add-contact-screen{
    position: relative;
}

.add-contact-center{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +100%); /*why tf?*/
    background-color: #7C7E83;
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.add-contact-form{
    height: 20vh;
    width: 22vw;
    min-width: 240px;
}

.chat-wrapper{
    width: 61%;
    background-color: #202124;
    display: flex;
    flex-direction: column;
}

.contact-wrapper-top-chat{
    width:100%;
    height: 80px;
    background-color: #202124;
    display: flex;
}

.contact-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
}

.profile-image-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7C7E83;
    margin-right: 16px;
}
.name-chat-divider{
    background-color: #3E3F41;
    width: 100%;
    height: 2px;
    margin-bottom: auto;
}

/*.message-block-scroll{
    overflow-y: scroll;
}*/

.message-window-container{
    width: 100%;
    /*height: calc(100vh - 80px);*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    row-gap: 8px;
}

.chat-bubbles{
    display: flex;
    flex-direction: column;
}

.send-message-block{
    background-color: #2863E4;
    width: auto;
    max-width: 61%;
    min-height: 40px;
    max-height: auto;
    border-radius: 16px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}


.receive-message-block{
    background-color: #3E3F41;
    width: auto;
    max-width: 61%;
    min-height: 40px;
    max-height: auto;
    border-radius: 16px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.message-content{
    color: #F2F2F2;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.01em;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-user-name{
    color: #7C7E83;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    line-height: 140%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-bottom: 2px;
}

.text-input-field{
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.text-input-form{
    box-sizing: border-box;
}

.btn {
   border: 0;
   padding: 0; 
   background: none;
   cursor: pointer;
}

.message-input-field{
    background-color: #202124;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: #3e3f41;
    border-radius: 16px;
    padding-left: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.01em;
    color:#F2F2F2;
    outline:none;
}

::placeholder{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.01em;
    color: #3e3e3e;
}

.ph-paper-plane-right-fill{
    font-size: 2.5rem;
    color: #2863E4;
    margin-left: 16px;
}

